<mat-toolbar color="primary">
  <span>
    <a routerLink="/" mat-button>
      <mat-icon>home</mat-icon> Home
    </a>
  </span>

  <div>
    <a mat-button routerLink="/urls">
      <mat-icon>search</mat-icon>Short Urls
    </a>
  </div>
  <div>
    <a mat-button routerLink="/users">
      <mat-icon>supervised_user_circle</mat-icon> User
    </a>
  </div>
  <div class="space">
  </div>
  <div>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="register">Register</a>
  </div>


</mat-toolbar>
